<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    {{!-- <form class="form new-post-form" id="create">
      <div class="form-group">
        <label for="title">Location:</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="post-text">Post:</label>
        <textarea class="form-input" id="post-text" name="post-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  <form id="create">
  <div class="form-group">
    <label for="title">Location: </label>
    <input type="text" class="form-control" id="title" aria-describedby="location-title" placeholder="Enter Location">
  </div>
  <div class="form-group">
    <label for="post-text">Post: </label>
    <input type="text" class="form-control" id="post-text" placeholder="Tell us about your trip">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if posts.length}}
<div class="card" style="width: 18rem;">
  <h3>Current Posts:</h3>
  {{#each posts as |post|}}
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Posted by {{post.user.username}} on {{format_date post.date_created}}</h6>
    <p class="card-text">{{post.post_text}}</p>
  </div>
  {{/each}}
</div>
{{/if}}

  {{!-- {{#if posts.length}}
    <div class="col-md-6 project-list">
      <h3>Current Posts:</h3>

      {{#each posts as |post|}}
        <div class="row mb-4 project">
          <div class="col-md-5">
            <h3>{{post.title}}</h3>
            <p>{{post.post_text}}</p>
            <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
          </div>

        </div>
      {{/each}}
    </div>
  {{/if}}
</div> --}}

<script src="/js/profile.js"></script>

